@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Lightred: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Offwhite: hsl(0, 0%, 94%);
  --Lightgrey: hsl(0, 0%, 86%);
  --Smokeygrey: hsl(0, 1%, 44%);
  --Offblack: hsl(0, 0%, 8%);
}

body {
  background-color: var(--Offwhite);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem;
  gap: 1.5rem;
  background-color: white;
  border-radius: 1.25rem;
  border-bottom-right-radius: 10rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.form-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 0.5rem;
  max-width: 8rem;
}

label {
  font-size: 0.75rem;
  color: var(--Smokeygrey);
  font-weight: 700;
  letter-spacing: 2px;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--Lightgrey);
  border-radius: 0.25rem;
  outline: none;
  color: var(--Offblack);
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  max-width: 8rem;
}

input::placeholder {
  color: var(--Smokeygrey);
  font-weight: 700;
}

input:focus {
  border: 1px solid var(--Purple);
}

#error-day,
#error-month,
#error-year {
  display: none;
  font-size: 0.75rem;
}

.error {
  color: var(--Lightred);
}

.error-border {
  border: 1px solid var(--Lightred);
}

.btn-div {
  width: 100%;
  position: relative;
}

.separator {
  border-bottom: 1px solid var(--Lightgrey);
  width: 100%;
  margin: 1.75rem 0;
  z-index: -1;
}

.btn {
  position: absolute;
  top: -10%;
  right: 0;
  background-color: var(--Purple) !important;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 50% !important;
  cursor: pointer;
}

.btn:active {
  background-color: var(--Offblack) !important;
}

.output {
  align-self: flex-start;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  color: var(--Offblack);
}

.output span {
  color: var(--Purple);
}

footer {
  font-size: 10px;
  margin: 1rem 0;
  text-align: center;
}

footer a {
  color: inherit;
  font-size: inherit;
}

@media screen and (max-width: 400px) {
  * {
    font-size: 14px;
  }
  section {
    padding: 1.5rem;
    border-bottom-right-radius: 6rem;
  }

  .form-div {
    max-width: 6.5rem;
  }

  .form {
    gap: 1rem;
  }

  .btn {
    right: 40%;
  }

  .btn img {
    width: 34px;
    height: 30px;
  }

  input {
    font-size: 1.5rem;
    width: 6.5rem;
  }

  .output p,
  .output span {
    font-size: 2.5rem;
  }
}
